html {
    scroll-behavior: smooth;
}

/*modify navigation bar*/
.navigation_bar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background: rgba(15, 23, 42, 0.7);
  backdrop-filter: blur(14px);
  border-bottom: 1px solid rgba(255,255,255,0.08);
  overflow: hidden;

}
.shine {
  position: absolute;
  top: 0;
  left: -100%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255,255,255,0.15),
    transparent
  );
  animation: shine 4s infinite;
}
@keyframes shine {
  0% { left: -100%; }
  50% { left: 120%; }
  100% { left: 120%; }
}
.tag {
  position: relative;
  font-size: 16px;
  font-weight: 400;
  color: #CBD5E1;
  text-decoration: none;
  padding-bottom: 6px;
  transition: color 0.3s ease, font-weight 0.3s ease;
}
.tag:hover {
  color: #FFFFFF;
  font-weight: 600;
}
.tag::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background: #3B82F6;
  transition: all 0.3s ease;
}
.tag:hover::after {
  width: 100%;
  left: 0;
}
.tag.active {
  color: #FFFFFF;
  font-weight: 600;
}
.tag.active::after {
  width: 100%;
  left: 0;
}
/* modify main construction */

.avartar {
    width: 500px;
    heigh: auto;

}
#typing {
  color: #00FFFF;
  border-right: 3px solid #00FFFF;
  padding-right: 5px;
  animation: blink 0.8s infinite;
}

@keyframes blink {
  50% { border-color: transparent; }
}
.about-btn {
  padding: 16px 36px;
  font-size: 18px;
  font-weight: 600;
  background: linear-gradient(135deg, #3b82f6, #06b6d4);
  color: white;
  border-radius: 999px;
  border: none;
  cursor: pointer;
  transition: all 0.25s ease;
}

.about-btn:hover {
  transform: scale(1.08);
  box-shadow: 0 10px 25px rgba(59,130,246,0.4);
}




.section-title {
    font-size:2rem;
    font-weight: 700;
    margin-bottom:2rem;
}

/* Skills */


.skill-card {
  padding: 24px;
  border-radius: 16px;
  background: rgba(255,255,255,0.05);
  border: 1px solid rgba(255,255,255,0.1);
  backdrop-filter: blur(12px);
  transition: all 0.3s ease;
}

.skill-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 0 30px rgba(0,255,255,0.15);
}
/* Achievements */

.ac-card {
  padding: 24px;
  border-radius: 16px;
  background: rgba(255,255,255,0.05);
  border: 1px solid rgba(255,255,255,0.1);
  backdrop-filter: blur(12px);
  transition: all 0.3s ease;
}

.ac-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 0 30px rgba(0,255,255,0.15);
}

/* Projects */

.project-card {
  padding: 24px;
  border-radius: 16px;
  background: rgba(255,255,255,0.05);
  border: 1px solid rgba(255,255,255,0.1);
  backdrop-filter: blur(12px);
  transition: all 0.3s ease;
}

.project-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 0 30px rgba(0,255,255,0.15);
}

.facebook {
    fill: white;      
    width: 35px;      
    height: auto;
}

.github {
    fill: white;
    width: 27px;
    height: auto;
}

.gmail {
    fill: white;
    width: 33px;
    height: auto;
    
}

